/*
Colors:
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

/* ---------- Google Font ---------- */+
#divdeM {
    height: 50%;
    width: 50%;
    color:red;
    display: block;
}
@import url(http://fonts.googleapis.com/css?family=Oswald);

body{
    font-family: 'Raleway', sans-serif;
}

nav{
    background-color: #E54E79;
}
.brand-logo img{
    width: 60px;
    margin-top: 10px;
}
.jueguito {
    height: 100%;
    width: 100%;
    background-color: black;
}
.principal{
    height: 100vh;
    background-image: url(http://ridesharecodes.com/wp-content/uploads/2017/02/cropped-Lyft-Promo-Codes-car-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}
.principal .caja-blanca{
    background-color: rgba(237,233,226,1);
    position: absolute;
    right: 0;
    top: 16%;
    box-sizing: border-box;
    padding: 40px 60px 50px 40px;
}

.principal .caja-blanca h2{
    text-transform: uppercase;
    font-weight: bold;
    color: #00B2A9;;
    font-size: 1.8em;
}

.principal .caja-blanca h3{
    text-transform: uppercase;
    font-weight: 300;
    color: #75726C;
    font-size: 1em;
}

.principal .caja-blanca .btn-big{
    border-radius: 15px;
    background-color: #E56385;
    height: 45px;
    line-height: 45px;
}

.juego{
    background-color: #00B2A9;
    padding: 40px 0;
}

#tablero{
    position: relative;
    height: auto;
    background-color: #EDE9E2;
    padding: 40px;
}
#formulario{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
a.block{
    display: block;
    border-radius: 15px;
}
.h2-play{
    cursor: pointer;
    background-color: #EDE9E2;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #75726C;
    margin-top: 40px;
    margin-bottom: 80px;
}
.h2-play:hover {
    background-color: antiquewhite;
    color: #5d6f35;

}
#tablero i{
    color: #75726C;
}
.fila{

}
.fila:before, .fila:after{
    content: "";
    display: block;
    clear: both;
}



.taxi, .empty, .visitada{
    box-sizing: border-box;
    float: left;
    width: 10%;
    height: 80px;
}
.empty{
    background-color: #75726C;
}

.taxi{
    background-color: #E56385;
    background-image: url(../img/car.png);
    background-size: contain;
    background-position: center 6px ;
    background-repeat: no-repeat;
}

.visitada{
    background-color: #E54E79;
}

.page-footer{
    background-color: #75726C;
}

.nuevito {
    height: 650px;
    width: 100%;
    background-image: url(../img/galaxia.jpg);
}

#divdeTexto {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: aliceblue;
    position: inherit;
    font-size: 5em;
    height: 30%;
    width: 55%;
    left: 26%
}
#divdeButton {
    position: relative;

    text-align: center;
}
.button{
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: blueviolet;
    right: 15%;
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
#B4 {
    height: auto;
    width: auto;
    position: relative;
    bottom: 0;
    left: 0;
}

.button:hover {
 color: #3a7999;
}

.button:nth-child(1) {
    top: 9%;
}
.button:nth-child(2) {
    top: 35%;
}
.button:nth-child(3) {
    top: 65%;
    right: 25%;
}

#divdeButton {
    position: relative;
    height: 75%;
    width: 35%;
    left: 35%;
}
#divGrande {
    position: relative;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
}
.nave {
    background: url(../img/cohete.gif) no-repeat center center;
    background-size: contain;
}
.divdeCredit {
    background: #293F63;
    text-align: center;
    position: relative;
    left: 23%;
    height: 80%;
    width: 60%;
    color: rgba(85, 189, 244, 0.79);
}

.divdeParrafo {
    background: #293F63;
    text-align: center;
    position: relative;
    left: 23%;
    height: 80%;
    width: 60%;
    color: rgba(85, 189, 244, 0.79);
}
/*ESTILO DE MAQUINA DE ESCRIBIR*/
.divdeParrafo h3 {
    position: relative;
    float: left;
    font-size: 2.5em;
}
.divdeParrafo  span {
    position:absolute;
    right:0;
    width:0;
    background: #293F63;
    border-left: 3px solid rgba(105, 240, 209, 0.87);
    animation: escribir 5s steps(11) infinite alternate;
}
@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
/*/////////////////////////////////////*/

#right{
	transform: rotate(90deg);
}
#left{
	transform: rotate(270deg);
}
#down{
	transform: rotate(180deg);
}
.llegada {
    background: url(../img/Copia%20%20de%20planeta.png) no-repeat center center;
    background-size: contain;
}
.transporte {
    background: url(../img/espiral.png) no-repeat center center;
	background-size: contain;
    animation: spin 1s infinite;
}
.pared {
	background-image: url(../img/textura.jpg);
    background-size: cover;
}

@keyframes spin {
    0 {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
td{
	box-sizing: content-box;
	padding: 0;
	margin: 0;
    width: 25px;
    height: 25px;
}

#juego{
    padding: 20px 0;
    display: none;
    background-image: url(../img/color.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.rotar td {
	animation: rotate 2s;
}

.rotar .llegada,.rotar .nave{
	animation: spin 3s;
}

.ganador{
	text-align: center;
	color: white;
	font-size: 2em;
	font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
}

/*FOOTER*/

#menu-holder{
 position: relative;
 width:550px;
 margin: 10px auto;
right: 90px;
}

.set-1 ul li{display:inline-block;margin-left:20px;margin-top:20px;}
.set-2{margin-top:50px;}
.set-2 ul li{display:inline-block;margin-left:20px;margin-top:20px;}

.set-1 a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald';
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
       width: 60px;
    text-align: center;

    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

height:54px;
cursor:pointer;
overflow:hidden;

font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.set-1 a:active, .set-2 a:active {
   -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    transform: translate(0, 3px);
}

.set-2 a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Oswald';
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    font-size:16px;
padding:10px 15px 10px 60px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

a.twitter-small{
 -webkit-box-shadow: 0px 6px 0px #2695BC;
    -moz-box-shadow: 0px 6px 0px #2695BC;
    box-shadow: 0px 6px 0px #2695BC;
}
a.twitter-small{background:#2CA9E1 url("images/twitter.png") no-repeat center center;}

a.twitter-small:active{ -webkit-box-shadow: 0px 2px 0px #2695BC;
    -moz-box-shadow: 0px 2px 0px #2695BC;
    box-shadow: 0px 2px 0px #2695BC;
}

a.facebook-small{
 -webkit-box-shadow: 0px 6px 0px #293F63;
    -moz-box-shadow: 0px 6px 0px #293F63;
    box-shadow: 0px 6px 0px #293F63;
}
a.facebook-small{background:#3B5997 url("images/facebook.png") no-repeat center center;}

a.facebook-small:active{ -webkit-box-shadow: 0px 2px 0px #293F63;
    -moz-box-shadow: 0px 2px 0px #293F63;
    box-shadow: 0px 2px 0px #293F63;
}


a.pinterest-small{
 -webkit-box-shadow: 0px 6px 0px #8C151B;
    -moz-box-shadow: 0px 6px 0px #8C151B;
    box-shadow: 0px 6px 0px #8C151B;
}
a.pinterest-small{background:#CD1D1F url("images/pinterest.png") no-repeat center center;}

a.pinterest-small:active{ -webkit-box-shadow: 0px 2px 0px #8C151B;
    -moz-box-shadow: 0px 2px 0px #8C151B;
    box-shadow: 0px 2px 0px #8C151B;
}


a.gplus-small{
 -webkit-box-shadow: 0px 6px 0px #141412;
    -moz-box-shadow: 0px 6px 0px #141412;
    box-shadow: 0px 6px 0px #141412;
    position:relative;
}
a.gplus-small{background:#353631 url("images/gplus.png") no-repeat center center;}
a.gplus-small:active{ -webkit-box-shadow: 0px 2px 0px #141412;
    -moz-box-shadow: 0px 2px 0px #141412;
    box-shadow: 0px 2px 0px #141412;
}

a.rss-small{
 -webkit-box-shadow: 0px 6px 0px #C64802;
    -moz-box-shadow: 0px 6px 0px #C64802;
    box-shadow: 0px 6px 0px #C64802;
}
a.rss-small{background:#FF6501 url("images/rss.png") no-repeat center center;}
a.rss-small:active{ -webkit-box-shadow: 0px 2px 0px #C64802;
    -moz-box-shadow: 0px 2px 0px #C64802;
    box-shadow: 0px 2px 0px #C64802;
}

a.dribbble-small{
 -webkit-box-shadow: 0px 6px 0px #B23D6D;
    -moz-box-shadow: 0px 6px 0px #B23D6D;
    box-shadow: 0px 6px 0px #B23D6D;
}
a.dribbble-small{background:#E84D89 url("images/dribbble.png") no-repeat center center;}
a.dribbble-small:active{ -webkit-box-shadow: 0px 2px 0px #B23D6D;
    -moz-box-shadow: 0px 2px 0px #B23D6D;
    box-shadow: 0px 2px 0px #B23D6D;
}


a.linkedin-small{
 -webkit-box-shadow: 0px 6px 0px #005377;
    -moz-box-shadow: 0px 6px 0px #005377;
    box-shadow: 0px 6px 0px #005377;
}
a.linkedin-small{background:#0073B2 url("images/linkedin.png") no-repeat center center;}
a.linkedin-small:active{ -webkit-box-shadow: 0px 2px 0px #005377;
    -moz-box-shadow: 0px 2px 0px #005377;
    box-shadow: 0px 2px 0px #005377;
}

a.stumble-small{
 -webkit-box-shadow: 0px 6px 0px #B7371D;
    -moz-box-shadow: 0px 6px 0px #B7371D;
    box-shadow: 0px 6px 0px #B7371D;
}
a.stumble-small{background:#EA4B24 url("images/stumble.png") no-repeat center center;}
a.stumble-small:active{ -webkit-box-shadow: 0px 2px 0px #B7371D;
    -moz-box-shadow: 0px 2px 0px #B7371D;
    box-shadow: 0px 2px 0px #B7371D;
}

a.flickr-small{
 -webkit-box-shadow: 0px 6px 0px #C10E78;
    -moz-box-shadow: 0px 6px 0px #C10E78;
    box-shadow: 0px 6px 0px #C10E78;
}
a.flickr-small{background:#FC1090 url("images/flickr.png") no-repeat center center;}
a.flickr-small:active{ -webkit-box-shadow: 0px 2px 0px #C10E78;
    -moz-box-shadow: 0px 2px 0px #C10E78;
    box-shadow: 0px 2px 0px #C10E78;
}

a.vimeo-small{
 -webkit-box-shadow: 0px 6px 0px #1993AF;
    -moz-box-shadow: 0px 6px 0px #1993AF;
    box-shadow: 0px 6px 0px #1993AF;
}
a.vimeo-small{background:#20B9EB url("images/vimeo.png") no-repeat center center;}
a.vimeo-small:active{ -webkit-box-shadow: 0px 2px 0px #1993AF;
    -moz-box-shadow: 0px 2px 0px #1993AF;
    box-shadow: 0px 2px 0px #1993AF;
}

