/*
Colors:
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

body{
	font-family: 'Raleway', sans-serif;
}

.nuevaClase {
    display: none;
}

nav{
	background-color: #E54E79;
}
.brand-logo img{
	width: 60px;
	margin-top: 10px;
}
.jueguito {
    height: 100%;
    width: 100%;
    background-color: black;
}
.principal{
	height: 100vh;
	background-image: url(http://ridesharecodes.com/wp-content/uploads/2017/02/cropped-Lyft-Promo-Codes-car-1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}
.principal .caja-blanca{
	background-color: rgba(237,233,226,1);
	position: absolute;
	right: 0;
	top: 16%;
	box-sizing: border-box;
	padding: 40px 60px 50px 40px;
}

.principal .caja-blanca h2{
	text-transform: uppercase;
	font-weight: bold;
	color: #00B2A9;;
	font-size: 1.8em;
}

.principal .caja-blanca h3{
	text-transform: uppercase;
	font-weight: 300;
	color: #75726C;
	font-size: 1em;
}

.principal .caja-blanca .btn-big{
	border-radius: 15px;
	background-color: #E56385;
	height: 45px;
	line-height: 45px;
}

.juego{
	background-color: #00B2A9;
	padding: 40px 0;
}

#tablero{
	position: relative;
	height: auto;
	background-color: #EDE9E2;
	padding: 40px;
}
#formulario{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}
a.block{
	display: block;
	border-radius: 15px;
}
.h2-play{
    cursor: pointer;
	background-color: #EDE9E2;
	padding: 20px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: #75726C;
	margin-top: 40px;
	margin-bottom: 80px;
}
.h2-play:hover {
    background-color: antiquewhite;
    color: #5d6f35;

}
#tablero i{
	color: #75726C;
}
.fila{

}
.fila:before, .fila:after{
	content: "";
	display: block;
	clear: both;
}
.taxi, .empty, .visitada{
	box-sizing: border-box;
	float: left;
	width: 10%;
	height: 80px;
}
.empty{
	background-color: #75726C;
}

.taxi{
	background-color: #E56385;
	background-image: url(../img/car.png);
	background-size: contain;
	background-position: center 6px ;
	background-repeat: no-repeat;
}

.visitada{
	background-color: #E54E79;
}

.page-footer{
	background-color: #75726C;
}

.nuevito {
    height: 600px;
    width: 100%;
    background-image: url(../img/galaxia.jpg);
}

#divdeTexto {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: aliceblue;
    position: inherit;
    font-size: 5em;
    height: 30%;
    width: 55%;
    left: 26%
}
#divdeButton {
    position: relative;

    text-align: center;
}
.button{
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: blueviolet;
    right: 15%;
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
#B4 {
    height: 9%;
    width: auto;
    position: absolute;
    top: 686px;
    right: 0
}

.button:hover {
 color: #3a7999;
}

.button:nth-child(1) {
    top: 9%;
}
.button:nth-child(2) {
    top: 35%;
}
.button:nth-child(3) {
    top: 65%;
    right: 25%;
}

#divdeButton {
    position: relative;
    height: 75%;
    width: 35%;
    left: 35%;
}
#divGrande {
    position: relative;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;

}
.nave {
    background: url(../img/nave.png) no-repeat center center;
    background-size: contain;
}
#down{
	transform: rotate(90deg);
}
#up{
	transform: rotate(270deg);
}
#left{
	transform: rotate(180deg);
}
.llegada {
    background: url(../img/Copia%20%20de%20planeta.png) no-repeat center center;
		background-size: contain;
}
.transporte {
    background: url(../img/supernova.png) no-repeat center center;
		background-size: contain;
}
.pared {
		background-color: #4b9cdb;
}
@keyframes loadingD {
    0 {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
td{
		box-sizing: content-box;
		padding: 0;
		margin: 0;
    width: 25px;
    height: 25px;
}

#juego{
    display: none;
		background-color:  #75726C;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes rotate1 {
	transform: translate(10px, 10px);
}
.rotar td{
	animation: rotate 2s;
}
